*{ 
	font-family: 'Century Gothic',CenturyGothic,AppleGothic, sans-serif; 
	/*background-color: var(--dark-color);*/
	color: var(--white-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}
.bg-blue{
	background-color: var(--blue-color) !important;
	color: #fff !important;
}
.bg-dark{
	background-color: var(--dark-color) !important;
	color: #fff !important;
}
.content{	
	  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
:root {
  --blue-color: #0000ff;
  --dark-color: #111111;
  --white-color: #fff;
  --light-color: #f8f9fa;
}

.full-hv{
height: 100vh!important;
}
.right-side{
	background-color: var(--white-color);
	border:none;
	border-top-left-radius: 90px;
	border-bottom-left-radius: 90px; 

}
.left-side{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-end;
}
.left-side .bottom-logo{
	margin-left: 3rem;
	margin-bottom: 4rem; 
}
.left-side .bottom-logo img{
	width: 65%;
	max-width: 100%;

}

.main img{
	width: 55%;
	margin-left: 0;
	padding-left: 0; 
	padding-top:2.8rem; 
	overflow: hidden;
}

@media only screen and (max-width: 766px) {

	.left-side{
		justify-content: center;
		align-items: center;
	}
	.left-side .bottom-logo{
	padding: 20px 0;
	margin-bottom: 0; 
}



.left-side{
	justify-content: center;

	align-items: flex-start;
}

.main img{
	width: 80%;
	padding-top:10px;
	margin:0; 
}
.main{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.right-side{
		border-top-left-radius: 0;
	border-bottom-left-radius: 0; 
	border-top-right-radius: 70px;
	border-top-left-radius: 70px; 
	margin-top: -8rem;

}
.left-side .bottom-logo img{
	width: 100%;
	margin-left: -2rem;

}
}