* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button::selection {
    background: #c8177f !important;
    color: #FFF !important;
    text-shadow: none !important;
}

button::-moz-selection {
    background: #c8177f !important;
    /* Firefox */
    color: #FFF !important;
    text-shadow: none !important;
}

button::-webkit-selection {
    background: #c8177f !important;
    /* Safari */
    color: #FFF !important;
    text-shadow: none;
}

button:active,
 button:focus {
    outline: none !important !important;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

p {
  margin-bottom: 0;
}
:root {
  --bg-blue: #0000ff;
  --bg-black: #111111;
  --bg-white: #ffffff;
  --primary-accent-color: #27c7cd;
  --link-color: #1b2c38;
  --color-black: #111111;
}
html,
body {
  width: 100%;
  height: 100vh;
}
a {
  color: var(--link-color);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: var(--primary-accent-color);
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
li,
a,
i,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: var(--color-black);
  text-transform: none;
  outline: none;
}

li:hover,
a:hover,
i:hover,
button:hover {
  /* opacity: 0.9; */

  outline: none;
}
img{
  pointer-events: none;
  cursor: pointer;
}
/* Nabar */
header {
/*  box-shadow: 0px 0px 8px #ddd;*/
  width: 100%;
}
header div.navbar {
  /* padding: ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5%;
  padding-bottom: 0;
}

 .logo img {
  cursor: pointer;
  width: 120px;
}
ul.nav_links li {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
  }
  
.menu {
  display: block;
}
.menu_line {
  border-bottom: solid 2px;
margin: 10px 0;
  width: 28px;
}
.menu_line_2{

    border-top: solid 2px;
      width: 23px;
}



.menu{
    display: none;
    position: absolute;
    background-color: var(--bg-blue);
    z-index: 999;
    height: 100vh;
    width: 100%;
    top:0;
    padding: 10px 4rem;
    transition:all 1s ;
}
.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu.active{
   display: block;
}
 .menu-logo img{
  cursor: pointer;
  width: 120px;
}
.user-picture{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;

  position: absolute;

bottom: 9%;
}
.envelope{
  position: relative;
}
.envelope a span{
  margin-left: 0px;
  margin-top: -3px; 
  position: absolute;
  top: 0;
border:none;
 width: 10px;
 height: 10px;
 background: var(--bg-white);
 border-radius: 14px;
  animation: color-zoom 1s linear 0s infinite alternate;
 
}

.menu-header .menu-options ul.nav_links a, .menu-header .menu-options ul.nav_links a i{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s;
}
.menu-close a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:solid 2px #fff;
  border-radius: 6px;
  padding: 0 8px;

}
@keyframes zoom{
  from{
    transform: scale(1); 
  }
  to{
    transform: scale(1.2);
  }
}
@keyframes color-zoom{
  from{
    transform: scale(1); 
    opacity: 0.5;
  }
  to{
    transform: scale(1.2);
   opacity: 1;
  }
}

.menu-header .menu-close:hover{
  animation: zoom 1s linear 0s infinite alternate;


}

.menu-container{
  position: absolute;
  top:30%;
}
.menu-container ul {
  list-style: none;
}

.menu-container ul li{

  padding: 10px 0;
  margin: 2px 0;
}
.menu-container ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: margin-left 1s ease;
}
.menu-container ul li a:hover{
  margin-left: 20px;
}

.menu-footer{
  position: absolute;
  bottom:1%;
  right: 50%;
  /*transition: s*/
  transform:translate(50%,-50%);

}
.menu-footer p{
  margin-top:-1rem;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
    font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.menu-footer p:hover{
  opacity: 0.8;
}

.nav-search {
    position: relative;
  box-sizing: border-box;
}

.input-search {
  outline: none;
  width: 500px;
  background-color: #f8f9fa;
  box-shadow: none;
  padding: 10px 10px;
  border: none;
  border-radius: 115px;
}
.btn-search {
position: absolute;
  background-color: transparent;
  border: none;
  right: 20px;
  z-index: 9;
  padding: 5px;
  cursor: pointer;
} 
/* Sotries */
.container-wrapper{
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

}

.container-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.story-container ul{
  list-style: none;
  display: flex;
  user-select: none;
  overflow-y: auto;
  padding: 20px 0;
}
.story-container ul li{
  padding: 0 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
.story-container ul li:first-child{
  padding-left: 20px;
}
.story-container ul li:last-child{
  padding-right: 20px;
}

.story-container ul li .story{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 1px;
  position: relative;
    background-color: rgba(255,255,255,0.8);

}
.story-container ul li.has-story .story{
  padding: 4px;
  /*background:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50% ,#cc2366 75% , #bc1888 100%);*/
  background:#f8f9fa;
}
.story-container ul li .story img{
  padding: 4px;
  /*background:currentColor;*/
    width: 100%;
  height: 100%;
  border-radius: 50%;
}
.story-container ul li span{
  color: rgba(0,0,0,0.85);
  font-size: 13px;
  font-weight: 700;
  text-overflow: ellipsis;
  max-width: 85px;
  margin-top: 5px;
}
/*pub-*/
.pub-wrapper{
  width: 90%;
  margin: 0 auto;
  position: relative;
  background-color: #f8f9fa;
  border-radius: 20px;
  top: 0px;
  box-shadow: 0px 0px 8px #ddd;


}
.pub-content{
    display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto; 
  padding: 10px 70px;
}
.pub-button{
  
   width:  200px;
   height: 40px;
  background:transparent;
  cursor: pointer;
   border-radius: 40px;
  font-size: 16px;
    font-weight: 700;text-align: center;
    border: solid 2px #111;
    color: #111;
    text-transform: uppercase;

  }
  
  .pub-desc{
     position: relative;
     z-index: 1;
  }
  
  .pub-desc h1{
    font-size: 3rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2rem;

  }

  .pub-img img{
    object-fit: cover;
    float: left;
    position: relative;
    z-index: 1;
    width: 50%;
    float: right;
  }

  .footer{
    position: relative;

  }

  .footer p {
  margin-top:8px;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  }

 @media (max-width:766px) {
  .pub-wrapper{
    /*background-color: red;*/
      border-radius: 30px;

  }
    .nav-search{
        display: none;
    }
    .pub-desc h1{
         font-size: 3rem;
   margin-bottom: 3.2rem;

   /*color: #fff;*/
    }
    .pub-content{
      padding: 68px 10px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
   .pub-img img{
    position: relative;
    z-index: 1;
    width: 100%;
    opacity: 0.8;
  }
  .pub-desc{
    position: absolute;
    z-index: 99
  }

  .pub-button{

    float: right;
    width: 150px;
    height: 50px;
  /*padding: 10px 30px;*/

  }
.menu{
  padding: 10px 1rem;

}
.menu-header{
    /*align-items: center;*/
}

  .menu-logo img{
    width: 80%;
  }
}

 @media (max-width:360px) {

  .story-container ul li:first-child{
  padding-left: 114px;
}

 }
  @media (max-width:411px) {

  .story-container ul li:first-child{
  padding-left: 30px;
}

 }
