* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 }
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 1px;
    
    border:solid 1px #f8f9fa;
    border-radius:1px;
}
*::-webkit-scrollbar-thumb {
    background-color:var(--bg-blue);
    border-radius: 60px; height:  6px; width: 60px;
}
:root {
  --bg-blue: #0000ff;
  --bg-black: #111111;
  --bg-white: #ffffff;
    --bg-transparent: transparent;
  --link-color: #1b2c38;
  --color-black: #111111;
  --color-white: #ffffff;

}
html,
body {
    width: 100%;
    height: 100vh;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    color: var(--link-color);
}
.bg-black{
    background-color: var(--bg-black)!important;
    color:  var(--color-white)!important;
}
.bg-blue{
    background-color: var(--bg-blue)!important;
    color:  var(--color-white)!important;
}
.bg-transparent{
    background-color: var(--bg-transparent)!important;
    color:  var(--color-black)!important;
}
.border{
  border:solid 2px !important;

}
.white{
     color:  var(--color-white)!important;

}
.noborder{
  border:none!important; 
}
.border-radius50{
  border-radius: 50px!important;
}
.d-flex{
      display: flex!important;
      flex-wrap: wrap!important;    
      justify-content: space-between;

  }
  .align-center{
    height: 100%;
    align-items: center!important;
  }
  .flex-direction-column{
    flex-direction: column!important;
  }

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;
   -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

a:hover {
  color: var(--bg-blue);
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}
input:focus{
  outline: 0;
  box-shadow: 0 0 12px #ddd;
  transition: all 0.5s;
}
input:hover{
  cursor: pointer;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
   pointer-events: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}


/* Nabar */
header {

  width: 100%;
}
header div.navbar {
  /* padding: ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5%;
  padding-bottom: 0;
}

 .logo img {
  cursor: pointer;
  width: 120px;
}
ul.nav_links li {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
  }
  
.menu {
  display: block;
}
.menu_line {
  border-bottom: solid 2px;
margin: 10px 0;
  width: 28px;
}
.menu_line_2{

    border-top: solid 2px;
      width: 23px;
}



.menu{
    display: none;
    position: absolute;
    background-color: var(--bg-blue);
    z-index: 999;
    height: 100vh;
    width: 100%;
    top:0;
    padding: 10px 4rem;
    transition:all 1s ;
}
.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu.active{
   display: block;
   position: fixed;
}
 .menu-logo img{
  cursor: pointer;
  width: 120px;
}
.user-picture{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;

  position: absolute;

bottom: 9%;
}
.envelope{
  position: relative;
}
.envelope a span{
  margin-left: 0px;
  margin-top: -3px; 
  position: absolute;
  top: 0;
border:none;
 width: 10px;
 height: 10px;
 background: var(--bg-white);
 border-radius: 14px;
  animation: color-zoom 1s linear 0s infinite alternate;
 
}

.menu-header .menu-options ul.nav_links a, .menu-header .menu-options ul.nav_links a i{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s;
}
.menu-close a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:solid 2px #fff;
  border-radius: 6px;
  padding: 0 8px;

}
@keyframes zoom{
  from{
    transform: scale(1); 
  }
  to{
    transform: scale(1.2);
  }
}
@keyframes color-zoom{
  from{
    transform: scale(1); 
    opacity: 0.5;
  }
  to{
    transform: scale(1.2);
   opacity: 1;
  }
}

.menu-header .menu-close:hover{
  animation: zoom 1s linear 0s infinite alternate;


}

.menu-container{
  position: absolute;
  top:30%;
}
.menu-container ul {
  list-style: none;
}

.menu-container ul li{

  padding: 10px 0;
  margin: 2px 0;
}
.menu-container ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: margin-left 1s ease;
}
.menu-container ul li a:hover{
  margin-left: 20px;
}

.menu-footer{
  position: absolute;
  bottom:1%;
  right: 50%;
  /*transition: s*/
  transform:translate(50%,-50%);

}
.menu-footer p{
  margin-top:-1rem;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
    font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.menu-footer p:hover{
  opacity: 0.8;
}

.nav-search {
    position: relative;
  box-sizing: border-box;
}

.input-search {
  outline: none;
  width: 500px;
  background-color: #f8f9fa;
  box-shadow: none;
  padding: 10px 10px;
  border: none;
  border-radius: 115px;
}
.btn-search {
position: absolute;
  background-color: transparent;
  border: none;
  right: 20px;
  z-index: 9;
  padding: 5px;
  cursor: pointer;
} 
/* Sotries */
.container-wrapper{
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

}

.container-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.story-container ul{
  list-style: none;
  display: flex;
  user-select: none;
  overflow-y: auto;
  padding: 20px 0;
}
.story-container ul li{
  padding: 0 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
.story-container ul li:first-child{
  padding-left: 20px;
}
.story-container ul li:last-child{
  padding-right: 20px;
}

.story-container ul li .story{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 1px;
  position: relative;
    background-color: rgba(255,255,255,0.8);

}
.story-container ul li.has-story .story{
  padding: 4px;
  /*background:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50% ,#cc2366 75% , #bc1888 100%);*/
  background:#f8f9fa;
}
.story-container ul li .story img{
  padding: 4px;
  /*background:currentColor;*/
    width: 100%;
  height: 100%;
  border-radius: 50%;
}
.story-container ul li span{
  color: rgba(0,0,0,0.85);
  font-size: 13px;
  font-weight: 700;
  text-overflow: ellipsis;
  max-width: 85px;
  margin-top: 5px;
}
/*pub-*/
.pub-wrapper{
  width: 90%;
  margin: 0 auto;
  position: relative;
  background-color: #f8f9fa;
  border-radius: 20px;
  top: 0px;
  box-shadow: 0px 0px 8px #ddd;


}
.pub-content{
    display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto; 
  padding: 10px 70px;
}
.pub-button{
  width:  200px;
  height: 40px;
  background:transparent;
  cursor: pointer;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;text-align: center;
  border: solid 2px #111;
  color: #111;
  transition: all 1s ease;
  text-transform: uppercase;
  }
  .pub-button:hover{
      background:var(--bg-blue);
      border-color: var(--bg-blue);
      color: #fff;
  }
  
  .pub-desc{
     position: relative;
     z-index: 1;
  }
  
  .pub-desc h1{
    font-size: 3rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2rem;

  }

  .pub-img img{
    object-fit: cover;
    float: left;
    position: relative;
    z-index: 1;
    width: 50%;
    float: right;
  }

/*method checkout*/
.top-section-blue {
  position: relative;
  width:  100%;
  background-color: var(--bg-blue);
  border-radius:  0;
}

.top-section-blue::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border:none;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 var(--bg-blue);
  clear: both;
}
.top-section-blue::after { clear: both;
  content: "";
  position: absolute;
  background-color: transparent;
  right: 0;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border:none;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 var(--bg-blue);
}
.container-section-blue {
  padding: 1rem 3rem;
}
.container-section-blue .section-logo a{
  display: inline;

}
.container-section-blue .section-logo a img{
  width: 94px;
  max-width: 100%;
}
.container-section-blue a{
  color: var(--color-white);
  text-decoration:none; 
  
}
.container-section-blue a:hover{
  opacity: 0.8;
  
}

  .options{
    padding: 1rem 3rem;
    text-align: center;
  
  }
  .heading-title{
    margin-bottom: 2rem; 
  }
/*method*/

  .btn-options-group a{
    box-sizing: border-box;
    border:none; 
    text-decoration: none;
    display: block;
    width: 49%;
    margin-bottom:1rem; 
    margin-top: 1rem; 
    padding:1.3rem 2rem;
    background: #111;
    color: #fff;
    text-align: center; 

    font-size:1.5rem;
    /*margin-left: 1rem; */
    cursor: pointer;

  }
  .btn-options-group a:hover{
    opacity: 0.8;
  }
  
@media (max-width:766px) {
  .btn-options-group a{
    width: 100%;
    padding:1.3rem 0.2rem;  font-size:14px;
  }
    .w50{
        width: 100%!important;
      }
}
/*chekout*/

/*footer*/
  .footer{
    position: relative;

  }

  .footer p {
  margin-top:20px;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  }

 @media (max-width:766px) {
  .pub-wrapper{
    /*background-color: red;*/
      border-radius: 30px;

  }
    .nav-search{
        display: none;
    }
    .pub-desc h1{
         font-size: 3rem;
   margin-bottom: 3.2rem;

   /*color: #fff;*/
    }
    .pub-content{
      padding: 60px 10px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
   .pub-img img{
    position: relative;
    z-index: 1;
    width: 100%;
    opacity: 0.8;
  }
  .pub-desc{
    position: absolute;
    z-index: 99
  }

  .pub-button{

    float: right;
    width: 150px;
    height: 50px;
  /*padding: 10px 30px;*/

  }
.menu{
  padding: 10px 1rem;

}
.menu-header{
    /*align-items: center;*/
}

  .menu-logo img{
    width: 80%;
  }

}

 @media (max-width:360px) {

  .story-container ul li:first-child{
  padding-left: 114px;
}

 }
  @media (max-width:411px) {

  .story-container ul li:first-child{
  padding-left: 30px;
}

 }
